<div class="container">
  <div class="d-flex justify-content-between mt-3">
    <h3>{{ usersTitle }}</h3>
    <div class="form-group col-md-4">
      <input
        type="text"
        id="userName"
        class="form-control"
        placeholder="Kullanıcı ara..."
        [(ngModel)]="filterText"
      />
      <small
        class="form-text text-muted"
        style="overflow: hidden"
        *ngIf="filterText.length > 0"
        >Şu an <strong>{{ filterText }}</strong> aradınız.
      </small>
    </div>
  </div>
  <div class="row mt-2 d-flex justify-content-center">
    <div class="col-md-3" *ngFor="let user of users | userFilter: filterText">
      <div class="card my-2 d-flex m-auto">
        <div class="card-body">
          <p class="user-website" style="font-size: 14px">
            <fa-icon [icon]="faGlobe"></fa-icon> <span>{{ user.website }}</span>
          </p>
          <span class="user-id">{{ user.id }}</span>
          <h2 class="text-center" style="font-size: 40px">
            <fa-icon [icon]="faUser"></fa-icon>
          </h2>
          <h5 class="card-title mt-3 text-center">
            {{ user.name | titlecase | slice: 0:22 }}
          </h5>
          <p class="card-text text-center" style="font-size: 14px">
            <fa-icon [icon]="faBuilding"></fa-icon> {{ user.company.name }}
          </p>
          <p class="card-text text-center" style="font-size: 14px">
            <fa-icon [icon]="faCity"></fa-icon>
            {{ user.address.city }}
          </p>
          <p class="card-text text-center" style="font-size: 14px">
            <fa-icon [icon]="faLocationArrow" style="color: #990000"></fa-icon>
            {{ user.address.city }}
          </p>
          <p class="card-text text-center" style="font-size: 14px">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            {{ user.email }}
          </p>
          <a class="btn btn-sm btn-outline-primary">Mesaj</a>
        </div>
      </div>
    </div>
  </div>
</div>
