.card {
    position: relative;
}

.user-id {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #dfdfdf;
    border-left: 0px;
    border-top: 0px;
    width: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3d3d3d;
}
.user-website {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3d3d3d;
}
.user-website span{
    margin-right: 15px;
    margin-left: 5px;
}