<div class="album py-1">
  <div class="container">
    <h3 class="mt-2">{{ albumsTitle }}</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div
        class="col-sm-12 col-md-4 col-lg-3 d-flex flex-row"
        *ngFor="let album of albums"
      >
        <div class="card shadow-sm my-1">
          <svg
            class="bd-placeholder-img card-img-top d-flex align-items-center justify-content-center"
            width="100%"
            height="225"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#55595c" />
            <text fill="#eceeef" dy=".8em">Thumbnail</text>
          </svg>

          <div class="card-body">
            <p class="card-text" style="height: 60px">
              {{ album.title }}
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
              style="height: 40px"
            >
              <div class="btn-group mt-auto">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-muted mt-auto">{{ album.id }} mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
